@font-face
{
  font-family: jesterFont;
  src: url(Jester.ttf);
}

#wrap{
  width:100%;
}

#header{
  width:100%;
  background-color:#000000;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-size: 4px;
  border-bottom-color: #FFFFFF;
}

#main{
  width:100%;
  background-color:#6383fc;
}

#mainForm{
  background-color: #000000;
  border: 4px solid #FFFFFF;
  border-radius: 5px;
  width: 50%;
	
}


.fontHeaderWhite{
  color:#ffffff;
  font-size: 4em;
  font-family: jesterFont;
}

.fontRegularWhite{
  color:#ffffff;
  font-size: 2.5em;
  font-family: jesterFont;
}

.fontFooterWhite{
  color:#ffffff;
  font-size: 1em;
  font-family: jesterFont;
}

.styleSearchBox{
  width: 200px;
  height: 50px;
  border: 1px double #ffffff; 
  border-radius: 5px; 
  box-shadow: 0 0 3px #ffffff; 
  font-size: 30px;
  color: #6383fc; 
  outline: none; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px; 
}

.imgRounded{
  border-radius: 5px;
}

#crownMain{
  background-image: url('img/crownMain.png');
  width:300px;
  height: 400px;
}

input[type=submit] {
  width: 200px;
  height: 35px;
  background-color: #FFFFFF;
  color: #6383fc;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;  
}

